extend layout

block content
  div.row
    div.col-lg-12
      p Box status information
      p
        i.icon-flag.icon-2x
  div.row(ng-controller="MasterLedCtrl")
    div.col-lg-12
      div.btn-group
        button(type="button", class="btn btn-default") Master LED Control
        button(type="button", class="btn btn-default dropdown-toggle", data-toggle="dropdown")
          span.caret
        ul.dropdown-menu
          li
            a(href="#", ng-click="setAllOn()") All ON
          li
            a(href="#", ng-click="setAllOff()") All OFF

    div.bm-modal(bm-modal-active="{{dialogIsActive}}")
      div.modal.fade#confirmDlg(role="dialog", data-show="false", style="display:none")
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
              h4.modal-title Set All LEDs {{desiredState}}
            div.modal-body
              p Are you certain you want to turn {{desiredState}} all LEDs?
              div
                input(type="password", size="16", placeholder="passcode", ng-model="masterPass")
            div.modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") No, abort!
              button.btn.btn-primary(type="button", ng-click="commit()") Yes, make it so!

  div.row(ng-controller="StatusCtrl")
    div.col-lg-8
      div.bs-table-scrollable
        table.table.table-condensed.table-striped.table-hover
          thead
            tr
              th Box ID
              th Last Contact
              th Uptime
              th.centered LED
                small actual/desired
              th.centered Audio
          tbody
            tr(ng-repeat="box in boxen", class="{{rowClass(box)}}", ng-click="edit(box)")
              td {{box.id}}
              td {{box.lastcontact}}
              td {{uptime(box)}}
              td.centered
                i.icon-lightbulb(class="{{ledStateClass(box)}}") &nbsp; / &nbsp;
                i.icon-lightbulb(class="{{ledStateDesiredClass(box)}}")
              td.centered
                i(class="{{muteStateSymbol(box)}}")
    div.col-lg-4(class="{{formEditClass()}}")
      div.well.well
        div.panel
          div.panel-heading
            h3.panel-title {{selectedTitle()}}
          form
            table.table.table-condensed
              thead
                th
                th
              tbody
                tr
                  td LED
                  td
                    i.icon-lightbulb(class="{{ledStateClass(getSelection())}}")
                    | &nbsp; {{getSelection().led}}
                  //- td
                    //- select#ledstateInput.form-control(name="ledstate")
                    //-   option(value="on") ON
                    //-   option(value="off") OFF
                tr
                  td Audio
                  td
                    i(class="{{muteStateSymbol(getSelection())}}")
                    | &nbsp; {{getAudioState(getSelection())}}
                tr
                  td Play time
                  td {{ uptime(getSelection()) }}
                tr
                  td Uptime
                  td {{ machineUptime(getSelection()) }}
                tr
                  td Link Quality
                  td {{ linkQuality(getSelection()) }}
                tr
                  td Signal Level
                  td {{ signalLevel(getSelection()) }}
                tr
                  td Noise Level
                  td {{ noiseLevel(getSelection()) }}




block code
  script(src="/socket.io/socket.io.js")
  script(src="/js/services.js")
  script(src="/js/status.js")
